<div class="container">
  <div class="form">
    <div
      [ngClass]="{ 'focus-on-input': isInputFocusedOrTyped }"
      class="sign-in-section"
    >
      <img
        class="mb-2"
        src="assets/img/brand/CMS_RMS_logo-removebg.png"
        style="max-width: 145px"
        alt=""
      />

      <p class="mt-2 fs-3">Payment Advisor</p>

      <p class="header text-1000 mb-3 display-2 fw-1 fs-5">Forgot Password?</p>

      <form #forgotPassword="ngForm" (submit)="onSubmit()" ngNativeValidate>
        <div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              #email="ngModel"
              [(ngModel)]="this.forgotPasswordForm.email"
              (focus)="onInputFocusOrTyping()"
              (blur)="onInputBlur()"
              (input)="onInputFocusOrTyping()"
              class="form-control"
              type="email"
              email
              name="emailId"
              id="emailId"
              required
            />
            <p
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="form-text text-danger text-start"
            >
              Email address is required
            </p>
          </div>
        </div>
        <!-- group -->
        <div class="form-text text-end">
          <a
            routerLink="/auth/login"
            class="link-underline link-underline-opacity-0"
          >
            Back to Login
          </a>
        </div>
        <!-- form-text -->

        <div class="text-center mt-3">
          <button
            [disabled]="forgotPassword.invalid"
            type="submit"
            class="btn btn-primary btn-block w-50 mb-1"
          >
            Reset
          </button>
        </div>
        <!-- center -->
      </form>
      <!-- form -->
    </div>
  </div>
</div>
