<div class="card">
  <p-toast></p-toast>
  <div class="container">
    <div class="d-flex">
      <ul class="nav nav-tabs mb-2 mt-1">
        <li class="nav-item">
          <button
            class="nav-link cursor {{ active_index == 1 ? 'active' : '' }}"
            (click)="loadBillsCategorically(1)"
          >
            Total ({{ totalBillsCount }})
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link  {{ active_index == 2 ? 'active' : '' }}"
            (click)="loadBillsCategorically(2)"
          >
            Pending ({{ pendingBillsCount }})
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link  {{ active_index == 3 ? 'active' : '' }}"
            (click)="loadBillsCategorically(3)"
          >
            Processed ({{ processedBillsCount }})
          </button>
        </li>
      </ul>
      <!-- <div class="flex-fill">
        <p-button
          icon="pi pi-download"
          class="float-end mt-2"
          label="Download Bills"
        ></p-button>
      </div> -->
    </div>
    <!-- <p class="display-6 text-body-secondary fs-4 m-0">Filters</p> -->
    <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="form-group">
          <label for="BankFilter" class="form-label">Bank</label>
          <select
            class="form-select"
            [(ngModel)]="filters.bank"
            (ngModelChange)="applyFilters()"
          >
            <option value="" selected>All</option>
            <option *ngFor="let bank of banks" [value]="bank">
              {{ bank }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="form-group">
          <label for="InvoiceYearFilter" class="form-label">Invoice Year</label>
          <select
            class="form-select"
            [(ngModel)]="filters.invoiceYear"
            (ngModelChange)="applyFilters()"
          >
            <option value="" selected>All</option>
            <option *ngFor="let year of invoiceYears" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="form-group">
          <label for="InvoiceMonthFilter" class="form-label"
            >Invoice Month</label
          >
          <select
            class="form-select"
            [(ngModel)]="filters.invoiceMonth"
            (ngModelChange)="applyFilters()"
          >
            <option value="" selected>All</option>
            <option *ngFor="let month of invoiceMonths" [value]="month">
              {{ month }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="form-group">
          <label for="StateFilter" class="form-label">State</label>
          <select
            class="form-select"
            [(ngModel)]="filters.state"
            (ngModelChange)="applyFilters()"
          >
            <option value="" selected>All</option>
            <option *ngFor="let state of states" [value]="state.code">
              {{ state.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="form-group">
          <label for="LhoFilter" class="form-label">LHO</label>
          <select
            class="form-select"
            [(ngModel)]="filters.lho"
            (ngModelChange)="applyFilters()"
          >
            <option value="" selected>All</option>
            <option *ngFor="let lho of lhos" [value]="lho">{{ lho }}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="form-group">
          <label for="TypeOfServiceFilter" class="form-label"
            >Type of Service</label
          >
          <select
            class="form-select"
            [(ngModel)]="filters.serviceType"
            (ngModelChange)="applyFilters()"
          >
            <option value="" selected>All</option>
            <option
              *ngFor="let servicetype of servicetypes"
              [value]="servicetype"
            >
              {{ servicetype }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <p-toast></p-toast>

  <p-table
    #dt
    [value]="bills"
    [rows]="4"
    [rowsPerPageOptions]="[4, 10, 25]"
    [paginator]="true"
    [tableStyle]="{
      'white-space': 'nowrap',
      'font-family': 'Arial, sans-serif',
      'font-size': '14px',
      'border-collapse': 'collapse',
      overflow: 'hidden',
      'text-overflow': 'ellipsis'
    }"
    styleClass="p-datatable-sm"
    [globalFilterFields]="['bankName', 'invoiceNo']"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Bill Details</h5>
        <div>
          <span class="p-input-icon-left m-1">
            <i class="pi pi-search"></i>
            <input
              #searchInput
              pInputText
              type="text"
              (input)="dt.filterGlobal(searchInput.value, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <!-- <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th> -->
        <th pSortableColumn="invoiceNo">
          Invoice No<p-sortIcon field="invoiceNo"></p-sortIcon>
        </th>
        <th pSortableColumn="bankName">
          Bank<p-sortIcon field="bankName"></p-sortIcon>
        </th>
        <th>Attachment</th>
        <th>Date of Submission</th>
        <th>Upload Acknowledgement</th>
        <th *ngIf="active_index == 1" pSortableColumn="isProcessed">
          Status<p-sortIcon field="isProcessed"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bill>
      <tr>
        <!-- <td>
          <p-tableCheckbox [value]="user"></p-tableCheckbox>
        </td> -->
        <td>
          {{
            bill.isProcessed || (bill.dateOfSubmission && bill.ackProof)
              ? ""
              : bill.invoiceNo
          }}
          <a
            *ngIf="
              (bill.dateOfSubmission != '' || bill.dateOfSubmission) &&
              (bill.ackProof != '' || bill.ackProof)
            "
            routerLink="./add-payment-details/{{ bill.billID }}"
            >{{ bill.invoiceNo }}</a
          >
        </td>
        <td>{{ bill.bankName }}</td>
        <td>
          <div class="row d-flex justify-content-center">
            <button
              pButton
              pRipple
              [rounded]="true"
              icon="pi pi-file-pdf"
              class="p-button-rounded p-button-info rounded-circle m-0"
              (click)="downloadInvoice(bill.invoiceNo)"
            ></button>
          </div>
        </td>
        <td>
          {{ bill.dateOfSubmission | date }}
          <div
            *ngIf="!bill.dateOfSubmission || bill.dateOfSubmission == ''"
            class="row d-flex justify-content-center"
          >
            <button
              pButton
              pRipple
              [rounded]="true"
              icon="pi pi-calendar"
              class="p-button-rounded p-button-secondary rounded-circle m-0"
              (click)="toggleSubmissionDateDialog(bill.billID)"
            ></button>
          </div>
        </td>
        <td>
          <div class="row d-flex justify-content-center">
            <button
              *ngIf="bill.ackProof"
              pButton
              pRipple
              [rounded]="true"
              icon="pi pi-file-export"
              class="p-button-rounded p-button-info rounded-circle m-0"
              (click)="downloadAcknowledgement(bill.ackProof)"
            ></button>
            <button
              *ngIf="!bill.ackProof || bill.ackProof == ''"
              pButton
              pRipple
              [rounded]="true"
              [disabled]="!bill.dateOfSubmission || bill.dateOfSubmission == ''"
              icon="pi pi-file-arrow-up"
              class="p-button-rounded p-button-primary rounded-circle m-0"
              (click)="toggleUploadAcknowledgementDialog(bill.billID)"
            ></button>
          </div>
        </td>
        <td *ngIf="active_index == 1">
          <p-tag [severity]="bill.isProcessed ? 'success' : 'warning'">{{
            bill.isProcessed ? "Processed" : "Pending"
          }}</p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Create/Edit User Dialog -->
<form
  #submissionDateForm="ngForm"
  (submit)="addSubmissionDate()"
  ngNativeValidate
>
  <p-dialog
    [(visible)]="showSubmissionDateDialog"
    [style]="{ width: '450px' }"
    header="Date of Submission"
    [modal]="true"
    (onHide)="editBill.submissionDate = undefined"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field form-group">
        <label for="name" class="form-label">Select Submission Date</label>
        <p-calendar
          #DateOfSubmission
          appendTo="body"
          [(ngModel)]="editBill.submissionDate"
          name="DateOfSubmission"
          [iconDisplay]="'input'"
          [showIcon]="true"
          class="d-flex"
          inputId="icondisplay"
          [dateFormat]="dateFormat"
          showButtonBar
          (ngModelChange)="convertToString()"
          [minDate]="minDate"
          [maxDate]="maxDate"
          required
        ></p-calendar>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        type="button"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="toggleSubmissionDateDialog()"
      ></button>
      <button
        pButton
        [disabled]="submissionDateForm.invalid"
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        type="submit"
      ></button>
    </ng-template>
  </p-dialog>
</form>

<!-- Create/Edit User Dialog -->
<form #submissionAcknowledgementForm="ngForm" ngNativeValidate>
  <p-dialog
    [(visible)]="showUploadAcknowledgementDialog"
    [style]="{ width: '450px' }"
    header="Upload Acknowledgement"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field form-group">
        <label for="name" class="form-label"
          >Select the file to be uploaded</label
        >
        <p-fileUpload
          name="acknowledgement[]"
          customUpload="true"
          (uploadHandler)="onUpload($event)"
          [multiple]="true"
          accept="image/*,.pdf,.msg"
          maxFileSize="10000000"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        type="button"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="toggleUploadAcknowledgementDialog()"
      ></button>
    </ng-template>
  </p-dialog>
</form>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<app-loader *ngIf="showLoader"></app-loader>
